.task-container{
    background-color: #555;
    margin: 8px 0;
    padding: 10px 15px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: white;
    align-items: center;
    cursor:pointer;
    
}

.remove-task,
.see-task-container{
    border: none;
    color: chartreuse;
    background-color: #555;
    font-size: 1.2rem;
    cursor: pointer;

}
.remove-task:hover{
    color: rgb(92, 184, 0);
}
.title {
    color: white;
}
